<!DOCTYPE html>
<html lang="en" ng-app="dns.propagation.monitor.app" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <base href="/">
  <title>DNS Propagation Monitor</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">

  <% htmlWebpackPlugin.files.css.forEach(function (url) { %>
  <link rel="stylesheet" href="<%= url %>" type="text/css">
  <% }); %>
</head>
<body>
  <div class="container" ui-view></div>
  <% htmlWebpackPlugin.files.js.forEach(function (url) { %>
  <script type="text/javascript" src="<%= url %>"></script>
  <% }); %>
</body>
</html>
